In [3]:
import numpy as np
import pandas as pd

In [4]:
df=pd.read_csv('F:/more work/netherland/mnp2019/pnew.csv')

c:\Users\Reza\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3135: DtypeWarning: Columns (25,646,659,711,763,822,823,825,826,827,828) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [8]:
df['PERSID'].sort_values()

0        3000071501
1        3000071501
2        3000071501
3        3000071501
4        3000071501
            ...
57447    7000016602
57445    7000016602
57455    7000016602
57449    7000016602
57456    7000016602
Name: PERSID, Length: 57457, dtype: int64

In [19]:
p=df.dropna(subset=['HVM','RVM'])

In [20]:
p

,ID,HHID,HH_VALID_x,DEELNAME,IMPHHDATA_x,P_VALID_x,PERSID,DEELNAMEP,JAAR_x,GESLACHT,...,alokatie_metrosneltramhalte,alokatie_tramhalte,alokatie_bushalte4xpu,alokatie_bushalte2xpu,alokatie_bushalte1xpu,alokatie_bushaltekl1xpu,WOONPC2,DAGSOORT,VERTPC2,AANKPC2
0,0,30000715,"complete household, all persons questionnaire ...",2017,household questionnaire is completed,person completed the questionnaire and complet...,3000071501,Wave 5 (2017),2019,Man,...,80393.0,96956.0,1946.0,1102.0,257.0,257.0,70,weekday,70,70
1,1,30000715,"complete household, all persons questionnaire ...",2017,household questionnaire is completed,person completed the questionnaire and complet...,3000071501,Wave 5 (2017),2019,Man,...,80393.0,96956.0,1946.0,1102.0,257.0,257.0,70,weekday,70,70
2,2,30000715,"complete household, all persons questionnaire ...",2017,household questionnaire is completed,person completed the questionnaire and complet...,3000071501,Wave 5 (2017),2019,Man,...,81473.0,97169.0,727.0,87.0,87.0,87.0,70,weekday,70,70
3,3,30000715,"complete household, all persons questionnaire ...",2017,household questionnaire is completed,person completed the questionnaire and complet...,3000071501,Wave 5 (2017),2019,Man,...,81473.0,97169.0,727.0,87.0,87.0,87.0,70,weekday,70,70
4,4,30000715,"complete household, all persons questionnaire ...",2017,household questionnaire is completed,person completed the questionnaire and complet...,3000071501,Wave 5 (2017),2019,Man,...,81473.0,97169.0,727.0,87.0,87.0,87.0,70,weekday,70,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57452,57452,70000166,"complete household, all persons questionnaire ...",2019,household questionnaire is completed,person completed the questionnaire and complet...,7000016602,Wave 7 (2019),2019,Woman,...,32904.0,53832.0,1701.0,970.0,970.0,970.0,39,weekday,39,39
57453,57453,70000166,"complete household, all persons questionnaire ...",2019,household questionnaire is completed,person completed the questionnaire and complet...,7000016602,Wave 7 (2019),2019,Woman,...,32904.0,53832.0,1701.0,970.0,970.0,970.0,39,weekday,39,39
57454,57454,70000166,"complete household, all persons questionnaire ...",2019,household questionnaire is completed,person completed the questionnaire and complet...,7000016602,Wave 7 (2019),2019,Woman,...,32904.0,53832.0,1701.0,970.0,970.0,970.0,39,weekend,39,39
57455,57455,70000166,"complete household, all persons questionnaire ...",2019,household questionnaire is completed,person completed the questionnaire and complet...,7000016602,Wave 7 (2019),2019,Woman,...,32904.0,53832.0,1701.0,970.0,970.0,970.0,39,weekday,39,39
57456,57456,70000166,"complete household, all persons questionnaire ...",2019,household questionnaire is completed,person completed the questionnaire and complet...,7000016602,Wave 7 (2019),2019,Woman,...,32904.0,53832.0,1701.0,970.0,970.0,970.0,39,weekday,39,39

In [21]:
f=p.copy()

In [23]:
f

,ID,HHID,HH_VALID_x,DEELNAME,IMPHHDATA_x,P_VALID_x,PERSID,DEELNAMEP,JAAR_x,GESLACHT,...,alokatie_metrosneltramhalte,alokatie_tramhalte,alokatie_bushalte4xpu,alokatie_bushalte2xpu,alokatie_bushalte1xpu,alokatie_bushaltekl1xpu,WOONPC2,DAGSOORT,VERTPC2,AANKPC2
0,0,30000715,"complete household, all persons questionnaire ...",2017,household questionnaire is completed,person completed the questionnaire and complet...,3000071501,Wave 5 (2017),2019,Man,...,80393.0,96956.0,1946.0,1102.0,257.0,257.0,70,weekday,70,70
1,1,30000715,"complete household, all persons questionnaire ...",2017,household questionnaire is completed,person completed the questionnaire and complet...,3000071501,Wave 5 (2017),2019,Man,...,80393.0,96956.0,1946.0,1102.0,257.0,257.0,70,weekday,70,70
2,2,30000715,"complete household, all persons questionnaire ...",2017,household questionnaire is completed,person completed the questionnaire and complet...,3000071501,Wave 5 (2017),2019,Man,...,81473.0,97169.0,727.0,87.0,87.0,87.0,70,weekday,70,70
3,3,30000715,"complete household, all persons questionnaire ...",2017,household questionnaire is completed,person completed the questionnaire and complet...,3000071501,Wave 5 (2017),2019,Man,...,81473.0,97169.0,727.0,87.0,87.0,87.0,70,weekday,70,70
4,4,30000715,"complete household, all persons questionnaire ...",2017,household questionnaire is completed,person completed the questionnaire and complet...,3000071501,Wave 5 (2017),2019,Man,...,81473.0,97169.0,727.0,87.0,87.0,87.0,70,weekday,70,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57452,57452,70000166,"complete household, all persons questionnaire ...",2019,household questionnaire is completed,person completed the questionnaire and complet...,7000016602,Wave 7 (2019),2019,Woman,...,32904.0,53832.0,1701.0,970.0,970.0,970.0,39,weekday,39,39
57453,57453,70000166,"complete household, all persons questionnaire ...",2019,household questionnaire is completed,person completed the questionnaire and complet...,7000016602,Wave 7 (2019),2019,Woman,...,32904.0,53832.0,1701.0,970.0,970.0,970.0,39,weekday,39,39
57454,57454,70000166,"complete household, all persons questionnaire ...",2019,household questionnaire is completed,person completed the questionnaire and complet...,7000016602,Wave 7 (2019),2019,Woman,...,32904.0,53832.0,1701.0,970.0,970.0,970.0,39,weekend,39,39
57455,57455,70000166,"complete household, all persons questionnaire ...",2019,household questionnaire is completed,person completed the questionnaire and complet...,7000016602,Wave 7 (2019),2019,Woman,...,32904.0,53832.0,1701.0,970.0,970.0,970.0,39,weekday,39,39
57456,57456,70000166,"complete household, all persons questionnaire ...",2019,household questionnaire is completed,person completed the questionnaire and complet...,7000016602,Wave 7 (2019),2019,Woman,...,32904.0,53832.0,1701.0,970.0,970.0,970.0,39,weekday,39,39

In [31]:
f=f.loc[f['AANTRIT'] != 'On this day the person did not take a trip']

In [42]:
f['Multimodal']=np.where(f['AANTRIT']!='1',1,0)

C:\Users\Reza\AppData\Local\Temp\ipykernel_17124\903600162.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f['Multimodal']=np.where(f['AANTRIT']!='1',1,0)

In [43]:
f['Multimodal'].value_counts()

0    43773
1     9537
Name: Multimodal, dtype: int64

In [44]:
f.to_csv('F:/more work/netherland/mnp2019/python/first.csv')